/* BG */

.bg-topbar {
  background: transparent;
  /* opacity: 0; */
}
.bg-topbar.scrolled {
  background-color: #ffffff !important;

  transition: background-color 200ms linear;
}
.bg-section1 {
  background: linear-gradient(116.16deg, #009197 -52.63%, #3f0a3e 87.37%);
}
.bg-section3 {
  background: linear-gradient(76.82deg, #f9d797 31.99%, #fd8d69 163.6%);
}

.bg-section4 {
  background: linear-gradient(116.16deg, #fcdbcc -29.93%, #ffffff 162.12%);
}

.bg-section5 {
  background: linear-gradient(95.53deg, #fad697 -18.31%, #ffb953 140.09%);
}

.bg-section6 {
  background: linear-gradient(116.16deg, #fcdbcc -29.93%, #ffffff 162.12%);
}

.bg-footer {
  background: #3f0a3e;
}

.m-l {
  margin-top: 10rem !important;
  margin-bottom: 3rem !important;
}

.p-l {
  padding-top: 8rem !important;
  padding-bottom: 3rem !important;
}

.p-l-full {
  padding-top: 10rem !important;
  padding-bottom: 13rem !important;
}

.logo-nav {
  margin: 12px;
}

.nav-item {
	margin-right: 7rem !important;
	border:2px solid transparent;
}

.nav-item:hover{
	border: 2px solid #f9d797 ;
	border-radius: 5px;

}

.nav-menu {
  margin-right: 6rem;
}

.dropdown-divider1 {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border: 1px solid #ffba53;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: 0.8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

.text-topbar {
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  /* line-height: 21px; */
  /* display: flex; */
  /* align-items: center;
  text-align: center; */

  color: white;
}

.text-topbar.scrolled {
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #312883;
}

.text-nav-drop {
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #312883;
}

.title-section1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 72px;
  /* or 120% */

  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: #ffffff;
}

.subtext-section1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 48px;
  /* or 200% */

  color: #ffffff;
}

.txt1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 120%;
  /* identical to box height, or 120% */

  display: flex;
  align-items: center;

  color: #11354f;
}

.txt2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 200%;
  /* or 200% */

  color: #11354f;

  opacity: 0.6;
}

.center-items {
  align-items: center;
  text-align: center;
}

.title-center {
  margin-top: 6rem;
  margin-bottom: 6rem;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  align-items: center;
  text-align: center;

  color: #11354f;
}

.card-box {
  margin-bottom: 8rem;
}

.card-text {
  height: 36px;
  padding: 24px;
  margin-top: 32px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  /* identical to box height, or 120% */
  text-align: center;

  color: #11354f;
}

.subtitle {
  height: 96px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;

  font-family: Rubik;
  font-weight: normal;
  font-size: 24px;
  line-height: 48px;
  /* or 200% */
  align-items: center;
  text-align: center;

  color: #11354f;

  opacity: 0.6;
}

.gallery-img {
  margin-bottom: 16px;
}

.button-ig {
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  margin-bottom: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 12px 24px 12px 24px;
  background: #ffba53;
  border-radius: 50px;
}

.klik-ig {
  width: 80%;
}

.footer{
	margin: 45px 62px 45px 58px;
}

.text-footer {

	margin-top: 3.5rem;
	font-family: Rubik;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height, or 171% */
	align-items: right;
	text-align: right;
	color: #FFFFFF;
	padding:15px 0 0 25px;
}

.text-footer p{
	margin-bottom:9px;
}

.text-footer img{
	width:30px;
	height:30px;
	text-decoration: none;
	margin-left: 16px;
}

.text-copyright {
	font-family: Rubik;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height, or 160% */
	align-items: left;
	text-align: left;

	color: #FFFFFF;
}

